:root {
  font-family: "Twemoji Country Flags",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin border-transition($color){
  transition: border-color 0.25s;
  &:hover {
    border-color: $color;
  }
}
@mixin hover-shadow($color){
  &:hover {
    filter: drop-shadow(0 0 2em $color);
  }
}
@mixin textbox(){

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color-scheme: inherit;
}

.read-the-docs {
  color: #888;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  &.vue {
    @include hover-shadow(#42b883aa)
  }
  @include hover-shadow(#646cffaa)
}


$base-color-a:#646cff;
a {
  font-weight: 500;
  color: $base-color-a;
  text-decoration: inherit;
  &:hover {
    color: darken($base-color-a,3%);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button:not(.--should-have-bottom-flag) {
  &.hey{
    @include textbox;
    margin:0.5em;
    cursor: pointer;
    @include border-transition(#646cff);
    &:focus-visible,&:focus {
      outline: 4px auto -webkit-focus-ring-color;
      outline-color:darken(#646cff,3%) ;
    }
  }
}

.card {
  padding: 0.5em;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
    
label {
  font-weight: bold;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

input, select,option{
  @include textbox;
  @include border-transition(#646cff);
}

.item-1{
  flex: 0 0 150px;
}
.item-2{
  flex: 0 0 210px;
}
.item-3{
  flex: 0 0 120px;
  text-align: center;
}

.item-4,.item-5{
  flex: 0 0 40px;
}

/* .m-phone-number-input{
  margin:0.5em auto;
} */

$light-theme: "prefers-color-scheme: light";
$dark-theme: "prefers-color-scheme: dark";
$mediaMaxWidth: 1260px;
$mediaBp1Width: 965px;
$mediaMinWidth: 480px;
@media ($light-theme) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button, input, select {
    &:not(.--should-have-bottom-flag){background-color: #efeded;}
    
  }
}
@media ($dark-theme)
{
  button:not(.--should-have-bottom-flag) {
    background-color: #1a1a1a;
  }
}
